src/main/resources/lawyerOffice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lawyerOffice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lawyers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lawyer" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="country"/>
                                                    <xs:element type="xs:string" name="city"/>
                                                    <xs:element type="xs:short" name="houseNumber"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="birthday"/>
                                        <xs:element type="xs:byte" name="rating"/>
                                        <xs:element type="xs:short" name="salary"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="services">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="descriptionOfService"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="clients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="client" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clientCase">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="description"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="money"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
        </xs:complexType>
    </xs:element>
</xs:schema>